:root {
  --headerbg: #94dbff;
  --bordercolor: #FFF;
  --bodybg: #eee
}

.table-responsive-block-container {
  .table {margin-top: 0}
  .table {
    border-radius: 10px;
    overflow: hidden;
    thead {
      background-color: var(--headerbg);
    }
    tbody td {
      background-color: var(--bodybg);
      text-align: center;
    }
     th,  td {
      padding: 10px;
    }
  }

  .table-responsive-block {
    .table-block {
      margin-bottom: 1em;
      font-size: 15px;
      position: relative;
      display: block;
      border: 1px solid #eee;
      &:last-child {
        margin-bottom: 1em;
      }
      .block-row {
        width: 100%;
        padding: 0px;
        display: flex;
        &:not(:last-child) {
          border-bottom: 1px solid var(--bordercolor);
        }
      }
      &:last-child .block-row {
        padding-bottom: 0px;
      }
      .block-row > div {
        vertical-align: top;
        font-weight: 300;
        padding: 10px;
        display: block;
      }
      .block-row > .head {
        font-weight: 600;
        min-width: 100px;
        display: flex;
        align-items: center;
        padding:8px 1.5em 8px 5px;
        background-color: var(--headerbg);
      }
      .block-row > .body {
        width: 100%;
        background-color: var(--bodybg);
      }
    }
  }
  > .table-responsive-block {
    display: none;
  }
  &.table-responsive-active {
    > table {
      display: none;
    }
    > .table-responsive-block {
      display: block;
    }
  }
}

button {
  padding: 5px;
  margin: 5px 2px 0px 0;
}
